streamlit==1.32.0
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.46
langchain-text-splitters==0.0.1
faiss-cpu==1.8.0
pdfplumber==0.11.0
PyPDF2==3.0.1
sentence-transformers==2.7.0
ollama==0.1.9
tiktoken==0.7.0
pandas==2.2.2
plotly==5.21.0
python-dotenv==1.0.1
torch==2.2.2